{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('app.task.index') }}">Bask to Task list</a>
    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
